node_modules/
dist/
.env
*.doc
*.docx
*.mp3
*.wav
*.m4a
*.rar
*.zip
secrets/*
files/*
App/backend/uploads/*
App/backend/outputs/*
App/backend/api/__pycache__/*
App/backend/services/__pycache__/*

__pycache__/
*.pyc
*.pyo
venv/
env/
.dev_setup/
.temp/

.claude/